@import "tailwindcss";
@import "@nuxt/ui";
@import "./prose.css";

@theme {
  --color-primary: var(--ui-primary);
  --color-secondary: var(--ui-secondary);
  --color-accent: var(--ui-accent);
  --color-info: var(--ui-info);
  --color-success: var(--ui-success);
  --color-warning: var(--ui-warning);
  --color-error: var(--ui-error);
  --color-neutral: var(--ui-neutral);
  --color-text: var(--ui-text);
  --color-text-muted: var(--ui-text-muted);
  --color-text-highlighted: var(--ui-text-highlighted);
  --color-text-dimmed: var(--ui-text-dimmed);
  --color-bg: var(--ui-bg);
  --color-bg-muted: var(--ui-bg-muted);
  --color-bg-elevated: var(--ui-bg-elevated);
  --color-border: var(--ui-border);
  --color-border-accented: var(--ui-border-accented);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
}

:root {
  /* Colors */
  --ui-primary: #3E2F5B !important;
  --ui-secondary: #F9A826 !important;
  --ui-accent: #FF3D68 !important;
  --ui-info: #56CCF2 !important;
  --ui-success: #6FCF97 !important;
  --ui-warning: #F2C94C !important;
  --ui-error: #EB5757 !important;
  --ui-neutral: #FFF !important;
  --ui-text: #333333 !important;
  --ui-text-muted: #828282 !important;
  --ui-text-highlighted: var(--gds-color-black);
  --ui-text-dimmed: var(--gds-color-gray-02);

  --ui-bg: #FFFFFF !important;
  --ui-bg-muted: #FAF9F6 !important;
  --ui-bg-elevated: transparent !important;

  --ui-border: #E0E0E0 !important;
  --ui-border-accented: var(--gds-color-gray-02);

  /* Fonts */
  --font-sans: 'Poppins', sans-serif !important;
  --font-serif: 'Playfair Display', serif !important;
  --font-mono: 'Source Code Pro', monospace !important;

  /* Radius */
  --radius-none: 0px !important;
  --radius-sm: 4px !important;
  --radius-md: 8px !important;
  --radius-lg: 12px !important;
  --radius-xl: 16px !important;
  --radius-full: 9999px !important;

  /* Shadows */
  --shadow-none: none !important;
  --shadow-sm: 0px 1px 2px rgba(0, 0, 0, 0.05) !important;
  --shadow-md: 0px 4px 6px rgba(0, 0, 0, 0.1) !important;
  --shadow-lg: 0px 10px 15px rgba(0, 0, 0, 0.1) !important;
  --shadow-xl: 0px 20px 25px rgba(0, 0, 0, 0.15) !important;

  /* Borders */
  --border-none: 0px !important;
  --border-sm: 1px solid var(--ui-border) !important;
  --border-md: 2px solid var(--ui-border) !important;
  --border-lg: 4px solid var(--ui-border) !important;

  /* Spacing */
  --spacing-sm: 4px !important;
  --spacing-md: 8px !important;
  --spacing-lg: 16px !important;
  --spacing-xl: 32px !important;
}